@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
:root {
    --color-almostBlack: hsl(0, 0%, 8%);
    --color-almostWhite: hsl(0, 0%, 98%);
    --color-mediumGrey: hsl(0, 0%, 41%);
    /* Font-size */
    --fs-sm: 15px;
    --fs-md: 18px;
    --fs-lg: 23px;
    --fs-xl: 30px;
    --fs-2xl: 45px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Epilogue', sans-serif;
    background-color: var(--color-almostWhite);
}
body p {
    font-size: 18px;
}
.btn {
    border: 1px solid var(--color-mediumGrey);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .23s ease-in-out;
}
.hidden {
    display: none;
}
.box-shadow {
    box-shadow: -1px 6px 17px rgba(0, 0, 0, 0.25);
} 
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
a {
    text-decoration: none;
    font-size: var(--fs-sm);
    color: var(--color-mediumGrey);
    cursor: pointer;
    transition: all .23s ease-in-out;
}
a:hover {
    color: var(--color-almostBlack);
}
/* Navbar */
nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    max-width: 100%;
    padding: 25px;
    align-items: center;
}
a.brand {
    display: flex;
    justify-content: center;
    margin-left: 50px;

}
.nav .nav-items {
    display: flex;
    flex: 70%;
    justify-content: space-between;
    max-width: 100%;
    margin-left: 80px;
}
ul.nav-menu {
    display: flex;
    gap: 25px;
    list-style: none;
}
ul.nav-menu li {
    position: relative;
}
.nav .nav-items .nav-btns a {
    margin-right: 50px;
}
/* Dropdown */
.nav-menu .dropdown-contents {
    position: absolute;
    width: max-content;
    top: 28px;
    background-color: white;
    padding: 10px 20px;
    z-index: 1;
    border-radius: 12px;
}
.nav-menu .dropdown-contents#dropdown1 {
    right: 0;
}
.nav-menu .dropdown-contents .dropdown-items {
    padding: 5px;
}
.nav-menu .dropdown-contents .dropdown-items span {
    margin-left: 6px;
    font-size: var(--fs-sm);
}
/* Hero Section */
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    padding: 15px;
    height: 100%;
}
.hero-text {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    max-width: 500px;
}
.hero-text h1 {
    font-size: 72px;
}
.hero-text p {
    font-weight: 500;
    color: var(--color-mediumGrey);
    line-height: 2.5ch;
}
.hero-text .client-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-img img {
    flex: 50%;
    padding: 25px;
    width: 400px;

}
button.hero-btn {
    max-width: fit-content;
    border: none;
    background-color: black;
    color: white;
    font-size: var(--fs-sm);
    font-weight: 700;
    padding: 15px 25px;
}
button.hero-btn:hover {
    border: 2px solid var(--color-almostBlack);
    background-color: transparent;
    color: var(--color-almostBlack);
}