@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
:root {
    --color-almostBlack: hsl(0, 0%, 8%);
    --color-almostWhite: hsl(0, 0%, 98%);
    --color-mediumGrey: hsl(0, 0%, 41%);
    /* Font-size */
    --fs-sm: 13px;
    --fs-md: 18px;
    --fs-lg: 23px;
    --fs-xl: 30px;
    --fs-2xl: 45px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Epilogue', sans-serif;
    background-color: var(--color-almostWhite);
}
body p {
    font-size: 18px;
}
.btn {
    border: 1px solid var(--color-mediumGrey);
    padding: 10px 20px;
    border-radius: 15px;
}
.hidden {
    display: none;
}
.box-shadow {
    box-shadow: -1px 6px 17px rgba(0, 0, 0, 0.25);
} 
.main-container {
    min-height: 100vh;
}
/* Navbar */
nav.nav {
    display: flex;
    align-items: center;
    padding: 15px;
}
.nav-logo {
    flex: 10%;
    text-align: center;
}
.nav-menu {
    flex: 90%;
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-sm);
}
.nav-mobile-menu {
    display: none;
}
.nav-menu ul {
    display: flex;
    list-style: none;
}
.nav-menu ul li {
    position: relative;
    padding-left: 20px;
    color: var(--color-mediumGrey);
}
.nav-menu ul li:hover {
    color: var(--color-almostBlack);
    cursor: pointer;
}
nav .nav-menu ul .dropdown-contents {
    position: absolute;
    background-color: white;
    padding: 12px 15px;
    border-radius: 12px;
    z-index: 1;
}
nav .nav-menu ul .dropdown-contents#drop1 { 
    top: 28px;
    left: -50px;
}
nav .nav-menu ul .dropdown-contents#drop2 {
    top: 28px;
    left: 50;
}
nav .nav-menu ul .dropdown-contents .dropdown-item {
    display: flex;
    gap: 15px;
    padding: 7px;
    cursor: pointer;
}
nav .nav-menu ul .dropdown-contents .dropdown-item span {
    font-size: var(--fs-sm);
}
.nav-btns a {
    margin-right: 20px;
    text-decoration: none;
    color: var(--color-mediumGrey);
}
.nav-btns a:hover {
    color: var(--color-almostBlack);
}
/* Main Content */
.main-content {
    width: 100%;
    display: flex; 
    margin-top: 40px;
}

.text-items {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 80px;
    padding-inline-start: 150px;

}

.text-items h1 {
    font-size: 56px;
}

.text-items p {
    font-size: 13px;
}
.text-items .client-items {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.image-container {
    flex: 50%;
    text-align: center;
    padding: 80px;
    padding-inline-end: 150px;

}
.image-container img {
    width: 360px;
}